<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DroneSpeed" value="22.0"/>
    <add key="DepotLatitude" value="-37.816664"/>
    <add key="DepotLongitude" value="144.9616589"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
